@model Horari.Models.ViewModels.DisponibilidadModel
@{
    ViewBag.Title = "Disponibilidad";
}

<head>
    <link rel="stylesheet" href="~/Content/Disponibilidad.css">
    <title>Test</title>
    <script>
        window.onload = function ()
        {
            todo();
        }
    </script>
   
</head>

<h2>Disponibilidad</h2>

<body>

    
    <label for="turnos">Hoarios</label>
    <select name="turnos" id="turnos" onchange="changeFunc();">
        <option value="todo">Todo</option>
        <option value="matutino">Matutino</option>
        <option value="vespertino">Vespertino</option>
        <option value="nocturno">Nocturno</option>
    </select>


    <div id="vistaTodo">
        @{Html.RenderAction("DisponibilidadTodo", "Disponibilidad");}
    </div>
    <div id="vistaMatutino">
        @{Html.RenderAction("DisponibilidadMatutino", "Disponibilidad");}
    </div>
    <div id="vistaVespertino">
        @{Html.RenderAction("DisponibilidadVespertino", "Disponibilidad");}
    </div>
    <div id="vistaNocturno">
        @{Html.RenderAction("DisponibilidadNocturno", "Disponibilidad");}
    </div>




</body>
<script language="javascript" type="text/javascript">


    function changeFunc()
    {
        var selectBox = document.getElementById( "turnos" );
        var selectedValue = selectBox.options[ selectBox.selectedIndex ].value;
        if ( selectedValue == "todo" )
        {
            resetViews();
            $( '#vistaTodo' ).css( 'display', 'block' );
        } else if ( selectedValue == "matutino" )
        {
            resetViews();
            $( '#vistaMatutino' ).css( 'display', 'block' );
        } else if ( selectedValue == "vespertino" )
        {
            resetViews();
            $( '#vistaVespertino' ).css( 'display', 'block' );
        } else if ( selectedValue == "nocturno" )
        {
            resetViews();
            $( '#vistaNocturno' ).css( 'display', 'block' );
        }
    }


    function resetViews()
    {
        $( '#vistaTodo' ).css( 'display', 'none' );
        $( '#vistaMatutino' ).css( 'display', 'none' );
        $( '#vistaVespertino' ).css( 'display', 'none' );
        $( '#vistaNocturno' ).css( 'display', 'none' );
    }

    function todo()
    {
        resetViews();
        $( '#vistaTodo' ).css( 'display', 'block' );
    }


</script>